### JAF - Just add flask ###

# OS DEFAULTS
.DS_Store

# COMMON IDES
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# project_name INGORES
.env
.sass-cache
node_modules
bower_modules
.webassets-cache
*.pyc
*.log

# BOWER
!.bowerrc

# OTHER
*.orig
*.sublime-workspace

*.js
*.css

!jaf_tools/frontend/source/styles/libs/
!jaf_tools/frontend/source/styles/mixins/
!jaf_tools/frontend/source/styles/core_libs.css

!jaf_tools/frontend/source/scripts/
