<!doctype html>
<html {% block app_name %}{% endblock app_name %}>
  <head>
    <meta charset="utf-8">
    <meta content="{% block description %}{% endblock description %}" name="description">
    <meta content="Regi Ellis" author="author">
    <meta content="width=device-width, inital-scale=1.0" name="viewport">

    <link href="{{ url_for('static', filename='images/branding/favicon.png') }}" rel="shortcut icon" sizes="32x32" type="image/png">

    <!-- apple -->
    <link href="{{ url_for('static', filename='images/branding/apple-touch-icon-114x114-precomposed.png') }}" rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png">
    <link href="{{ url_for('static', filename='images/branding/apple-touch-icon-72x72-precomposed.png') }}" rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png">
    <link href="{{ url_for('static', filename='images/branding/apple-touch-icon-57x57-precomposed.png') }}" rel="apple-touch-icon-precomposed" sizes="57x57" type="image/png">
    <link href="{{ url_for('static', filename='images/branding/apple-touch-icon-precomposed.png') }}/assets" rel="apple-touch-icon-precomposed" type="image/png">

    <!-- stylesheets -->
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/libs/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/core.css') }}">
    {% endblock %}

    <title>{% block page_title %}jaf{% endblock page_title %}</title>

  </head>

  <body class="{% block page_class %}autohandler stand-alone{% endblock %}">
  <section class="{% block section_type %}{% endblock section_type %}">

  </section>
    {% block content %}
    {% endblock %}
  </body>

  {% block scripts %}
  {% endblock scripts %}

</html>
